<!DOCTYPE html>
<html lang='es' style='height: 100%;'>
<head>
    <title>Muertes COVID-19</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class="indigo lighten-5">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Muertes COVID-19</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{% url 'registro' %}">Registro</a></li>
            <li class="active"><a href="">Index</a></li>
            <li><a href="{% url 'estadistica' %}">Estadistica</a></li>
            </ul>
        </div>
    </nav>
</body>
<body class="indigo lighten-5">
 
    <div class="container">
        <div class="row">
 
            <div class="col s12">
                <h1 style="text-align: center;">Bienvenido al registro de muertes COVID-19</h1>
            </div>

            <div class="col s12 center-align">
                <img src="{% static 'img/img1.png' %}" height="300"/>
            </div>
        </div>
    </div>
</body>
</html>